.title{
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 15px 0;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 2px;
}
.main{
        display: flex;
        flex-direction: column;
        /* margin-top: 50px; */
        width: 280px;
        box-shadow: 0 3px 10px 0 #aaa;
        /* margin-top: 2vw; */
        margin-bottom: 2vw;
        border: 2px solid black;
        box-shadow: 1px 2px 2px red;
        box-shadow: 0 123px 126px 0 rgb(0 0 0 / 20%), 0 0px 123px 0 rgb(0 0 0 / 19%);
        cursor: pointer;
        background-color: #e9ecef;
        /* margin-top: 20px; */
}
.img{
    object-fit: cover;
    height: 362px;
    max-width: 280px;

}
.yr{
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}